<%- include("partials/header") %>

    <h1> Welcome to landing page</h1>



    <p>Welcome to campground</p>



    <a href="/campgrounds"> View all CampGrounds</a>

    <%- include("partials/footer") %>